<p id="notice"><%= notice %></p>

<h1>Team Mates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Picture</th>
      <th>Expertise</th>
      <th>Email</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_mates.each do |team_mate| %>
      <tr>
        <td><%= team_mate.name %></td>
        <td><%= team_mate.department %></td>
        <td><%= team_mate.picture %></td>
        <td><%= team_mate.expertise %></td>
        <td><%= team_mate.email %></td>
        <td><%= team_mate.phone_number %></td>
        <td><%= link_to 'Show', team_mate %></td>
        <td><%= link_to 'Edit', edit_team_mate_path(team_mate) %></td>
        <td><%= link_to 'Destroy', team_mate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Mate', new_team_mate_path %>
