

<table width=100% class="table1">
  <tr>
    <td>
      <h1 class="logo-start">PLAN 
<span class="logo-end">IT</span>
</h1>
      </span>
    </td>

    <td>
      <p class="navbar-text block-bar navbar-right">
        <a href="#" class="bar projects">Projects</a>
        <span><a href="#" class="bar clients">Clients</a></span>
        <span><a href="#" class="bar teammates">Team Mates</a></span>
        <span><a href="#" class="bar contacts">Contacts</a>
  </span>
    </td>

  </tr>
</table>


<body>
  <div class="boxed container">

<!-- calendar -->
      <div class="calendar-content-box">Calendar</div>


<!-- projects -->
     <div class="projects-content-box hidden">

     <div> Number of Projects: <%= @projects.count%></div>

     <ul class="list-group">
     <% @projects.each do |project| %>
     <li class="list-group-item"><%= project.name %></li>
     <%end%>
     </ul>

     </div>

<!-- clients -->
     <div class="clients-content-box hidden">
     <div> Number of Clients: <%= @clients.count%></div>

     <ul class="list-group">
     <% @clients.each do |client| %>
     <li class="list-group-item"><%= client.name %></li>
     <%end%>
     </ul>
     </div>

<!-- team mates -->
     <div class="team-mates-content-box hidden">
          <div> Number of Team Mates: <%= TeamMate.all.count%></div>

     <ul class="list-group">
     <% @team_mates.each do |mate| %>
     <li class="list-group-item"><%= mate.name %></li>
     <%end%>
     </ul>

     </div>

<!-- contacts -->
     <div class="contacts-content-box hidden">
     <ul class="list-group">
     <% @contact_companies.each do |company| %>
     <li class="list-group-item">
     <a href="#" class="<%=company%> company-name"><%= company %></a>
        <% @contacts.each do |contact| %>
          <% if contact.company == company %>
          <div class="<%=contact.company%>-contact hidden light-grey-box">
            <span class="icons"><%= contact.name %></span>
            <i class="icons fas fa-phone"></i>
            <a href="tel:<%=contact.phone_number%>"><%= contact.phone_number %></a>
            <i class="icons far fa-envelope"></i>
            <a href="mailto:<%=contact.email%>"><%= contact.email %></a>
            <i class="icons fas fa-briefcase"></i>
            <%= contact.activity %>
            <div class="icons"> Notes: 
            <%= contact.note %>
            </div>
          </div>
          <% end %>
        <% end %>
     </li>
     <% end %>
     </ul>
     </div>
     
  </div>





