

<table width=100% class="table1">
  <tr>
    <td>
      <h1 class="logo-start">TASK 
<span class="logo-end">IT</span>
</h1>
      </span>
    </td>

    <td>
      <p class="navbar-text block-bar navbar-right">
        <a href="#" class="bar projects">Projects</a>
        <span><a href="#" class="bar clients">Clients</a></span>
        <span><a href="#" class="bar teammates">Team Mates</a></span>
        <span><a href="#" class="bar contacts">Contacts</a>
  </span>
    </td>

  </tr>
</table>


<body>
  <div class="boxed container">

<!-- calendar -->
      <div class="calendar-content-box">Calendar</div>


<!-- projects -->
     <div class="projects-content-box hidden">

     <div> Number of Projects: <%= @projects.count%></div>

     <ul class="list-group">
     <% @projects.each do |project| %>
     <li class="list-group-item"><%= project.name %></li>
     <%end%>
     </ul>

     </div>

<!-- clients -->
     <div class="clients-content-box hidden">
     <div> Number of Clients: <%= @clients.count%></div>

     <ul class="list-group">
     <% @clients.each do |client| %>
     <li class="list-group-item"><%= client.name %></li>
     <%end%>
     </ul>
     </div>

<!-- team mates -->
     <div class="team-mates-content-box hidden">
          <div> Number of Team Mates: <%= TeamMate.all.count%></div>

     <ul class="list-group">
     <% @team_mates.each do |mate| %>
     <li class="list-group-item"><%= mate.name %></li>
     <%end%>
     </ul>

     </div>

<!-- contacts -->
     <div class="contacts-content-box hidden">
     <div> Number of Contacts: <%= Contact.all.count%></div>
     <ul class="list-group">
     <% @contacts.each do |contact| %>
     <li class="list-group-item"><%= contact.name %></li>
     <%end%>
     </ul>
     </div>
     
  </div>