

<table width=100% class="table1">
  <tr>
    <td>
      <h1 class="logo-start">PLAN 
<span class="logo-end">IT</span>
</h1>
      </span>
    </td>

    <td>
      <p class="navbar-text block-bar navbar-right">
        <a href="#" class="bar projects">Projects</a>
        <span><a href="#" class="bar clients">Clients</a></span>
        <span><a href="#" class="bar teammates">Team Mates</a></span>
        <span><a href="#" class="bar contacts">Contacts</a>
  </span>
    </td>

  </tr>
</table>


<body>
  <div class="boxed container">

<!-- calendar -->
      <div class="calendar-content-box">Calendar</div>


<!-- projects -->
     <div class="projects-content-box hidden">

     <div> Number of Projects: <%= @projects.count%></div>

     <ul class="list-group">
     <% @projects.each do |project| %>
        <li class="list-group-item">
          <a href="#" class="<%=project.id%> project-name"><%= project.name %></a>

          <div class="<%=project.id%>-info hidden light-grey-box">hello I was hidden</div>
        </li>
     <%end%>
     </ul>

     </div>

<!-- clients -->
     <div class="clients-content-box hidden">
     <ul class="list-group">
     <% @clients.each do |client| %>
     <li class="list-group-item">
        <div class="bootstrap-blue">
        <%= client.name %>
        </div>
        <div>
        <i class="icons fas fa-map-marker-alt"></i><%= client.address %>
        <div>
        <div>
        <i class="icons far fa-envelope"></i><%= client.contacts %>
        </div>
        <i class="icons fas fa-dollar-sign"></i>annual budget: <%= client.annual_budget%>
        <div class="icons ">notes: <%= client.note %></div>
       <!--  client map -->
        <div id="googleMap" style="width:100%;height:100px;"></div>
     </li>
     <%end%>
     </ul>
     </div>

<!-- team mates -->
     <div class="team-mates-content-box hidden">
     <ul class="list-group">
     <% @team_mates_departments.each do |department| %>
       <li class="list-group-item">
       <a href="#hi" class="<%=department%> department-name"><%= department %></a>

       <% @team_mates.each do |team_mate| %>
          <% if team_mate.department == department %>
            <div class="<%=team_mate.department%>-contact hidden light-grey-box"> 
            <span class="icons"><%= team_mate.name %></span>
            <i class="icons fas fa-phone"></i>
            <a href="tel:<%=team_mate.phone_number%>"><%= team_mate.phone_number %></a>
            <i class="icons far fa-envelope"></i>
            <a href="mailto:<%=team_mate.email%>"><%= team_mate.email %></a>
            </div>
          <% end %>
       <% end %>

       </li>
     <% end %>
     </ul>
     </div>

<!-- contacts -->
     <div class="contacts-content-box hidden">
     <ul class="list-group">
     <% @contact_companies.each do |company| %>
     <li class="list-group-item">
     <a href="#" class="<%=company%> company-name"><%= company %></a>
        <% @contacts.each do |contact| %>
          <% if contact.company == company %>
          <div class="<%=contact.company%>-contact hidden light-grey-box">
            <span class="icons"><%= contact.name %></span>
            <i class="icons fas fa-phone"></i>
            <a href="tel:<%=contact.phone_number%>"><%= contact.phone_number %></a>
            <i class="icons far fa-envelope"></i>
            <a href="mailto:<%=contact.email%>"><%= contact.email %></a>
            <i class="icons fas fa-briefcase"></i>
            <%= contact.activity %>
            <div class="icons"> Notes: 
            <%= contact.note %>
            </div>
          </div>
          <% end %>
        <% end %>
     </li>
     <% end %>
     </ul>
     </div>
     
  </div>





